@font-face {
  font-family: "MyFont";
  src: url("./Font/Lemon\ Mocktail\ .ttf");
}
@font-face {
  font-family: "magic"; 
  src: url("./Font/Magical\ Night.woff");
}

.home {
  height: auto;
  background-image: url("./Images/background4.jpg");
  background-color: rgb(18, 17, 17);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
 
}
.home-left {
  margin-top: 4%;
  margin-left: 10%;
  margin-bottom: auto;
  flex: 50%;
  margin-right: auto;

}
.home-right{
margin-top: 1%;
  margin-bottom: 2%;
  
  flex: 30%;
}
.home-btn{
  margin-top: 2%;
}
body {
  margin: 0;
  padding: 0;
}
.main-nav {
  height: 80px;

}
.nav-item {
  padding: 0.9rem 1.3rem;
}

.profile {
  height: 25em;
}
.mt1{
  font-size: 20px;
}
.mt2,.mt{
  font-size: 33px;
}
.mt2{
  font-weight: bolder;
  color: rgb(105, 103, 103);
}
.mt3{
 font-size: 33px;
}
.mt4{
 font-size: 18px;
  width: 80%;
  
}
.mt5{
  font-weight: bold;
  color: rgb(105, 103, 103);

}

.d-block {
  height: 400px;
  width: 100%;
  object-fit: contain;
}
.skill {
  height: auto;
  display: flex;
  flex-wrap: wrap;
}

.skill-left {
  flex: 50%;
  width: 50%;
}
.skill-right {
  height: 500px;
  padding: 2%;
  width: 50%;
  flex: 50%;
}
.skill-btn {
  margin-left: 37.5%;
  margin-top: 5%;
}
.skill-text1 {
  font-family: MyFont;
  text-align: center;
  color: rgb(61, 57, 57);
  font-size: 55px;
  padding: 2%;
}
.skill-text2 {
  font-family: sans-serif;

  font-size: 35px;
  text-align: center;
  margin-top: 13%;
  color: rgb(86, 87, 93);
  font-family: sans-serif;
  margin-bottom: auto;
  padding: 1%;
}
/* Adjustments for smaller screens */
@media (max-width: 800px) {
  .skill-left,
  .skill-right {
    flex: 100%;
    width: 100%;
  }
  .skill {
    height: auto; /* Adjust height as needed */
  }
  .main-text {
    font-size: 40px; /* Decrease font size */
  }
  .nav-item {
    padding: 0.5rem 1rem; /* Adjust padding for navigation items */
  }
}

/* Mobile first approach: Adjustments for even smaller screens */
@media (max-width: 600px) {
  .home-left,
  .home-right {
    flex: 100%; 
    margin: auto; 
  }
  .main-text {
    font-size: 30px; 
  }
  .skill-text1 {
    font-size: 40px; 
  }
  .skill-text2 {
    font-size: 20px; 
  }
 
  .achievements {
    height: auto; 
  }
  .achive-text1 {
    font-size: 40px; /* Adjust font size for achievements section */
  }
}


.achievements {
  height: 500px;
  background-color: rgb(61, 57, 57);
}
.achive-text1 {
  font-family: Myfont;
  color: white;
  font-size: 55px;
  text-align: center;
  padding: 2%;
}
